<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
	         http://www.springframework.org/schema/tx   
	    http://www.springframework.org/schema/tx/spring-tx-2.5.xsd  
	         http://www.springframework.org/schema/aop   
	    http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

    <!-- AMOP消息处理线程池配置，根据实际需要配置 -->
    <bean id="pool" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="50"/>
        <property name="maxPoolSize" value="100"/>
        <property name="queueCapacity" value="500"/>
        <property name="keepAliveSeconds" value="60"/>
        <property name="rejectedExecutionHandler">
            <bean class="java.util.concurrent.ThreadPoolExecutor.AbortPolicy"/>
        </property>
    </bean>

    <!-- 系统合约地址配置，在使用./web3sdk SystemProxy|AuthorityFilter等系统合约工具时需要配置 -->
    <bean id="toolConf" class="org.bcos.contract.tools.ToolConf">
        <property name="systemProxyAddress" value="0x7003af0dd4372ab7da7407f99ef63ded0c4eda58"/>
        <!--GOD账户的私钥-->
        <property name="privKey" value="a7f4d806cc64336ab63b377721d723bcfa3e6395e6f466dd297ebc1f8c0d7964"/>
        <!--GOD账户-->
        <property name="account" value="0x84b31d144fd2613e3cdda3ceebdb3a1be4c1328a"/>
        <property name="outPutpath" value="./output/"/>
    </bean>

    <!-- 区块链节点信息配置 -->
    <bean id="channelService" class="org.bcos.channel.client.Service">
        <property name="orgID" value="WB"/> <!-- 配置本机构名称 -->
        <property name="connectSeconds" value="60"/>
        <property name="connectSleepPerMillis" value="10"/>
        <property name="allChannelConnections">
            <map>
                <entry key="WB"> <!-- 配置本机构的区块链节点列表（如有DMZ，则为区块链前置）-->
                    <bean class="org.bcos.channel.handler.ChannelConnections">
                        <property name="caCertPath" value="classpath:ca.crt"/>
                        <property name="clientKeystorePath" value="classpath:client.keystore"/>
                        <property name="keystorePassWord" value="redhat"/>
                        <property name="clientCertPassWord" value="redhat"/>
                        <property name="connectionsStr">
                            <list>
                                <value>nodedata-1@192.168.10.27:30604</value>
                            </list>
                        </property>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>
</beans>
